<h1><%= @post.title %></h1>

<h3> Categories:
  <% @post.categories.each do |category| %>
    <%= category.name %>
  <% end %>
</h3>

<p><%= @post.content %></p>

<%= form_for Comment.new do |f| %>
  <%= f.label :content %>
  <%= f.text_area :content %>
  <%= f.hidden_field :post_id, value: @post.id %>
  <%= f.collection_select :user_id, User.all, :id, :username, include_blank: true %>
  <%= f.fields_for :user_attributes, User.new do |u| %>
    <%= u.label :username %>
    <%= u.text_field :username %>
  <% end %>
  <%= f.submit "Create Comment"%>
<% end %>

<h3>Commenters</h3>
<% if !@post.commentors.empty? %>
  <ul>
    <% @post.commentors.each do |commentor| %>
      <li><%= link_to commentor.username, user_path(commentor) %></li>
    <% end %>
  </ul>
<% end %>
