<h1><%= @post.title %></h1>

<h3> Categories:
  <% @post.categories.each do |category| %>
    <%= category.name %>
  <% end %>
</h3>

<p><%= @post.content %></p>

<% @post.comments.each do |comment| %>
  <p><%= comment.user.username if !comment.user.nil? %> says: <%= comment.content %>
  </p>
<% end %><br>
